@import './mixin/base';
@import './mixin/theme';
@import './mixin/img2x';

@import './modules/topper';
@import './modules/footer';
@import './modules/preloader';

// Bot Page Scss
.bot-content {
  width: 100%;
  max-width: 1200px;
  padding: 20px 15px 80px;
  margin: 0 auto;
  box-sizing: border-box;

  //section1
  .s1 {
    .sub-nav {
      margin-top: 60px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      max-width: 1014px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      border-bottom: 1px solid rgb(221, 221, 221);


      .navBtn {
        display: flex;
        cursor: pointer;
        font-size: 14px;
        padding-bottom: 20px;
      }
      .navBtn:hover {
        color: #0d6fb8;

      }

    }



    .s1-block {
      position: relative;
      margin: 30px auto;
      width: 100%;
      max-width: 1056px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      

      figure {
        // display: inline-block;
        // width: 130px;
        // height: 178px;

        // @include resolution2xImg((
        //   img1xPath: '#{$BaseUrl}images/1x/botCurrent-banner.png',
        //   img2xPath: '#{$BaseUrl}images/2x/botCurrent-banner.png'
        // )...);
      }

      .s1-title {
        span {
          text-align: left;
          display: block;
          font-size: 60px;
          &.s1-sub-title {
            font-size: 42px;
          }
        }
      }


      .writings-frame {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .writings {
          padding-left: 10px;
          padding-right: 10px;
          padding-bottom: 10px;
        }

        .author-frame {
          display: flex;
          margin-top: 10px;
          .author_picture {
            padding-right: 10px;
            img {
              display: inline-block;
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
          }
          .author-data {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            .author_name {
              flex-direction: column;
              font-size: 12px;
            }
            .date {
              flex-direction: column;
              font-size: 12px;
              color: #555;
              // display: inline-block;
            }
          }
        }

        .title {
          display: -webkit-box;
          -webkit-line-clamp: 3!important;
          -webkit-box-orient: vertical!important;
          overflow: hidden!important;
          white-space: normal;
          color: #0d6fb8;
          font-size: 20px;
          height: 63px;
          margin-bottom: 10px;
          line-height: 1.2;
        }
        img {
          width: 100%;
          height: 190px;
          object-fit: cover;
          border: 1px solid rgba(0,0,0,.15);
          margin-top: 10px;
          margin-bottom: 10px;
        }

        .abstract {
          margin-bottom: 13px;
          span {
            display: -webkit-box;
            -webkit-line-clamp: 2!important;
            -webkit-box-orient: vertical!important;
            overflow: hidden!important;
            white-space: normal;

            font-size: 16px;
            font-weight: 300; 
            color: #333;
            height: 55px;
            line-height: 1.4;
          }
        }


        
      }//.writings-frame
      
    }
  }
}

@media all and (min-width: 731px) and (max-width: 1199px) {
  // .bot-content {
  //   padding: 5px 15px 60px;

  //   .s2 {
  //     margin-top: 30px;
  //   }

  //   .s3 {
  //     .s3-block {
  //       .table-list {
  //         .s3-table-data {
  //           .data-row {
  //             td {
  //               padding: 15px 15px;
  //               font-size: 16px;
  //             }
  //             &.data-row-title {
  //               td {
  //                 padding: 15px 20px;
  //               }
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}

@media all and (min-width: 0px) and (max-width: 730px) {
  .bot-content {
    width: 100%;
    max-width: 600px;
    // padding: 20px 15px 80px;
    // margin: 0 auto;
    // box-sizing: border-box;
  
    //section1
    .s1 { 
      .s1-block {
        // position: relative;
        // margin: 30px auto;
        // width: 100%;
        max-width: 600px;
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
  
  
        .s1-title {
          span {
            // text-align: left;
            // display: block;
            font-size: 30px;
            &.s1-sub-title {
              font-size: 22px;
            }
          }
        }
  
  
        .writings-frame {
          display: grid;
          grid-template-columns: 1fr;
          margin-left: auto;
          margin-right: auto;
          .writings {
            // padding-left: 10px;
            // padding-right: 10px;
            // padding-bottom: 10px;
          }

          .author-frame {
            .author_picture {
              
              img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
              }
            }
            .author-data {

              .author_name {

                font-size: 12px;
              }
              .date {
                font-size: 12px;
                color: #555;
                // display: inline-block;
              }
            }
          }

          .title {
            display: -webkit-box;
            -webkit-line-clamp: 2!important;
            -webkit-box-orient: vertical!important;
            overflow: hidden!important;
            white-space: normal;
            color: #0d6fb8;
            font-size: 20px;
            max-height: 54px;
            margin-bottom: 10px;
          }
          img {
            width: 100%;
            height: 190px;
            object-fit: cover;
            border: 1px solid rgba(0,0,0,.15);
            margin-top: 10px;
            margin-bottom: 10px;
          }
  
          .abstract {
            
            span {
              display: -webkit-box;
              -webkit-line-clamp: 3!important;
              -webkit-box-orient: vertical!important;
              overflow: hidden!important;
              white-space: normal;
  
              font-size: 16px;
              font-weight: 300; 
              color: #333;
              max-height: 62px;
              line-height: 1.3;
            }
          }
  

          
        }//.writings-frame
        
      }
    }
  }
}

