# Django #
*.pyc
__pycache__
!**/__pycache__/
!**/migrations/
# db.sqlite3

# FrontEnd #
dist
merge
node_modules
npm-debug.log
package-lock.json
.*DS_Store
vic.code-workspace
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml


# log
stark_lab/logs/         # 你的圖片路徑看起來在這裡
**/logs/                # 任何子資料夾叫 logs 的都忽略
*.log                   # 所有 .log
*.log.*                 # 旋轉後的 log（app.log.2025-10-12 等）
*.gz                    # 若有壓縮的 log