mixin topper(words)
  .topper
    .topper-content
      .topper-mobile-opener
      a.topper-logo(href="#")!= 'StartLab'
      .topper-navbar
        each item in words.topper
          a(href='#' class= item.isActive ? `js-selected` : ``)
            div
              i.icons(class=`icons-${item.iconType}`)
            span.font-regular!= `${item.text}`